<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> <a href="<%= config.welove %>">特殊入口</a>
    	</div>
      	<div class="footer-right">

      	</div>
    </div>
  </div>
</footer>
